@model List<ProjectTeamNET.Models.Entity.Category>

@{
    ViewData["Title"] = "Index";
}
@if (TempData["Message"] != null)
{
    <p class="alert alert-default-success">@TempData["Message"]</p>
}
<h1>Index</h1>

<p>
    <a href="~/Category/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                CategoryName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    <a href="javascript:void(0)" class="text-danger mx-4" onclick="categories.delete(@item.CategoryId)">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        var categories = categories || {};
        categories.delete = function (id) {
            var result = confirm("Are you sure Delete?");
            if (result) {
                $.ajax({
                    url: `/Catergory/Delete/${id}`,
                    method: "Delete",
                    success: function () {
                        window.location.reload();
                    }
                });
            }
        }
    </script>
}